@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:300,400');

.center {
	float: none;
	margin: 0 auto;
	width: 80%;
	text-align: center;
}

.banner {
	height: 640px;
}

.banner-content {
	margin-top: 150px;
	color: white;
}

.banner-content h1 {
	text-transform: uppercase;
	font-family: 'Roboto'; font-weight: 700;
	font-size: 45px;
}

.banner-content h3{
	font-family: 'Yantramanav'; font-weight: 200;
	font-size: 18px;
	font-weight: 200;
}

.info {
	background-color: #fff;
	padding: 50px 0 50px 0;
	height: 100%;
}

.info h4 {
	font-size: 30px;
}

#sp-content {
	margin-top: 25px;
}

.box {
	padding: 50px;
	background: #d1d1d1
}
@media(max-width:767px){
	.banner {
		height: 400px;
	}
	.banner-content {
		margin-top: 60px;
	}
	.banner-content h1 {
		font-size: 35px;
	}
	.banner-content h3 {
		margin-top: 13px;
	}

}
@media(min-width:768px){
	.banner {
		height: 450px;
	}
	.banner-content {
		margin-top: 70px;
	}
		.banner-content h1 {
		font-size: 35px;
	}

}
@media(min-width:992px){
	.banner {
		height: 500px;
	}
	.banner-content {
		margin-top: 75px;
	}
}